body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #000;
    color: white; 
}

h1 {
    font-size: 36px; 
}

button {
    padding: 15px 25px;
    font-size: 20px; 
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#password {
    font-size: 24px; 
    margin-top: 20px;
    font-weight: bold;
    color: yellow; 
}

