 <style>
 .subscribe-button{
    background-color:red;
    color:white;
    border:none;
    height:36px;
    width:100px;
    border-radius:3px;
    cursor:pointer;
    margin-right:8px;
    transition:background-color 1s, opacity 1s;

 }
 .subscribe-button:active{
    background-color:blue;
    opacity:0.6;
 }
 .subscribe-button:hover{
    background-color:green;
    opacity:0.6;
 }
.j-button:hover{
    background-color:blue;
    color:white;
    opacity:0.6;
}
.j-button:active{
    background-color:rgb(50, 50, 60);
    opacity:0.6;
}


 .j-button{
        background-color:rgb(163, 163, 173);
        color:rgb(19, 19, 240);
        border-style:solid;
        border-color:black;
        height:36px;
        width:105px;
        border-radius:9px;
        border-width:2px;
        cursor:pointer;
        margin-left:8px;
        border:none;
        transition: background-color 1s , color1s;


    }
    .t-button{
        background-color:blue;
        color:white;
        border:none;
        height:36px;
        width:70px;
        border-radius:18px;
        cursor:pointer;
        font-size:15px;
        font-weight:bold;
        box-shadow:1px 1px 2px black;



    }

    </style>
